body {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

#initialLoader {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
#initialLoader button {
    top: 50%;
    transform: translateY(-50%);
}