.ui {
    display: inline-block;
    border-radius: 2px;
}

button {
    position: relative;
    min-width: 4em;
    height: 2.5em;
    padding: 0 1em;
    margin: 1ex;
    overflow: hidden;
    outline: none;
    transition:
        font-weight 0.25s cubic-bezier(0.0, 0.0, 0.2, 1),
        background-color 0.25s cubic-bezier(0.0, 0.0, 0.2, 1),
        box-shadow 0.15s cubic-bezier(0.0, 0.0, 0.2, 1);
    text-align: center;
    line-height: 2.5em;
    vertical-align: middle;
    cursor: pointer;
    font-weight: bold;
    border: none;
    bottom: 1px;
    z-index: 0;
}

button[disabled], button.disabled {
    cursor: default !important;
    opacity: 0.30;
    color: var(--text);
    background-color: var(--bg);
}
button.raised[disabled]:before, button.raised.disabled:before,
button.floating[disabled]:before, button.floating.disabled:before {
    opacity: 0.5;
}
button:before {
    opacity: 0.0;
}

button.raised:before, button.floating:before {
    opacity: 0.1;
}
button:not([disabled]):not(.disabled):active:before {
    opacity: 0.2;
}
button:not([disabled]):not(.disabled):active:before {
    opacity: 0.4;
}

button:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    content: " ";
    background: #999;
}

button:after {
    position: absolute;
    top: -1em;
    left: 51%;
    right: 51%;
    bottom: -1em;
    border: none;
    content: " ";
    background-color: white;
    opacity: 0.5;
    border-radius: 5em;
    transition: all 0.25s ease-out 0.5s;
    z-index: -1;
}

@keyframes button-active {
      0% { left: 5%; right: 5%; }
     50% { left: 7%; right: 7%; }
    100% { left: 5%; right: 5%; }
}

button:active:after {
    animation: button-active 2s ease-in-out 0.75s infinite;
    left: 5%;
    right: 5%;
}

/* Flat */
button {
    color: var(--text);
    background-color: var(--bg);
}

/* Dark */
button.dark:not([disabled]):not(.disabled) {
    color: var(--fg);
    background-color: var(--bg);
}

button.dark.raised:not([disabled]):not(.disabled),
button.dark.floating:not([disabled]):not(.disabled) {
    color: var(--bg);
    background-color: var(--fg);
}


/* Toggle */
button.toggle .hidden {
    display: none;
}

/* Switch */
.switch {
    cursor: pointer;
    pointer-events: all;
    display: inline-block;
    position: relative;
    margin: 0 1ex;
    width: 3em;
    height: 1.5em;
    top: 0.35em;
}

.switch:before {
    content: " ";
    position: absolute;
    width: 2.5em;
    height: 1em;
    top: 0.25em;
    left: 0.25em;
    border-radius: 0.5em;
    background-color: var(--fg);
    opacity: 0.35;
}

.switch:after {
    content: " ";
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top: 0;
    border-radius: 50%;
    transition: all 0.25s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.switch:not(.on):after {
    left: 1.5em;
    background-color: var(--bg);
}
.switch.on:after {
    left: 0;
    background-color: var(--fg);
}
.switch:not(.on):before {
    background-color: var(--text);
}
.switch.on:before {
    background-color: var(--fg);
}

.switch.on:not(.dark):after, .switch.on:not(.dark):before {
    background-color: var(--text);
}

.switch[disabled], .switch.disabled {
    cursor: default !important;
    opacity: 0.30;
    color: var(--text);
    background-color: var(--bg);
}

.switch[disabled]:before, .switch.disabled:before {
    background-color: var(--text);
}

.switch[disabled]:after, .switch.disabled:after {
    background-color: var(--text);
}

/* Checkbox */
.checkbox {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    bottom: 0.2em;
    margin: 0 0.25ex;
    font-family: "Material Icons";
    vertical-align: middle;
}

.checkbox:before {
    color: var(--text);
}

.checkbox.dark:not([disabled]):not(.disabled):after {
    color: var(--fg);
}

.checkbox:not(.dark):after {
    color: var(--text);
}

.checkbox:before {
    color: var(--text);
}

.checkbox:after, .checkbox:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 150%;
    vertical-align: middle;
    line-height: 1em;
}

.checkbox:after {
    content: "check_box";
}

.checkbox:before {
    content: "check_box_outline_blank";
}

.checkbox:not(.checked):not([checked]):after,
.checkbox.checked:before, .checkbox[checked]:before {
    opacity: 0;
}

.checkbox:not(.checked):not([checked]):before,
.checkbox.checked:after, .checkbox[checked]:after {
    opacity: 1;
}

.checkbox[disabled], .checkbox.disabled {
    cursor: default !important;
    opacity: 0.30;
    color: var(--text);
    background-color: var(--bg);
}

/* Radio button */
.radio:after {
    content: "radio_button_checked" !important;
}

.radio:before {
    content: "radio_button_unchecked" !important;
}

.radio.dark:before {
    color: var(--fg) !important;
}

/* Slider */
.slider {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    pointer-events: all;
    vertical-align: middle;
    position: relative;
    height: 2em;
    line-height: 2em;
}

.slider > * {
    display: block;
}

.slider > div {
    cursor: pointer;
    pointer-events: all;
    position: relative;
    min-width: 16em;
    height: 2px;
    border: 1em solid transparent;
    margin: 0;
    background: #999;
    background-clip:content-box
}

.slider > div > div {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--fg);
}

.slider.vertical > div > div {
    right: 0;
}
.slider:not(.vertical) > div > div {
    top: 0;
}

/* ball */
.slider > div > div:after {
    content: " ";
    position: absolute;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    top: -0.5em;
    right: -0.5em;
    transform: translate(-1px, -1px);
    background-color: var(--fg);
    transition: all 0.25s cubic-bezier(0.0, 0.0, 0.2, 1);
    border: 2px solid black;
    border-color: var(--fg);
}

.slider > div > div[style*="width: 0%"]:after {
    background-color: var(--bg);
    border-color: #999;
}

.slider.vertical > div > div {
    left: 0 !important;
    right: 0 !important;
}

.slider:not(.vertical) > div > div {
    top: 0 !important;
    bottom: 0 !important;
}

.slider label {
    width: 2em;
    height: 2em;    
    margin: 0 1ex;
}

.slider input {
    width: 3em;
    height: 2em;
    position: relative;
    border: none;
    top: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-size: 1.1em;
}

input:focus {
    outline: none;
    
}